{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{thing.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Item">Item</label>
            <input id="Item" type="text" class="form-control" placeholder="Item" name="Item" value="{{thing.Item}}">
        </div>
        <div class="col">
            <label for="Cost">Cost</label>
            <input id="Cost" type="text" class="form-control" placeholder="Cost" name="Cost" value="{{thing.Cost}}">
        </div>
        <div class="col">
            <label for="Tax">Tax</label>
            <input id="Tax" type="text" class="form-control" placeholder="Tax" name="Tax" value="{{thing.Tax}}">
        </div>
        <div class="col">
            <label for="Total">Total</label>
            <input id="Total" type="text" class="form-control" placeholder="Total" name="Total" value="{{thing.Total}}">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}