{% extends "layout.html" %}
{% block content %}
<form action="/things/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Item">Item</label>
            <input id="Item" type="text" class="form-control" placeholder="Item" name="Item">
        </div>
        <div class="col">
            <label for="Cost">Cost</label>
            <input id="Cost" type="text" class="form-control" placeholder="Cost" name="Cost">
        </div>
        <div class="col">
            <label for="Tax">Tax</label>
            <input id="Tax" type="text" class="form-control" placeholder="Tax" name="Tax">
        </div>
        <div class="col">
            <label for="Total">Total</label>
            <input id="Total" type="text" class="form-control" placeholder="Total" name="Total">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}